@charset "UTF-8";
@font-face {
  font-family: roboto-regular;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"); }

@font-face {
  font-family: roboto-light;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2"); }

@font-face {
  font-family: roboto-thin;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2"); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

html,
body {
  height: 100%; }

body {
  background: #eef0f3;
  font: 16px roboto-light, Arial, sans-serif;
  color: #fff; }

.hidden {
  display: none !important; }

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh; }

.content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 613px;
  margin: 0 auto; }

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  @media screen and (max-width: 1185px) {
    .header {
      box-sizing: border-box;
      padding: 0 20px; } }
  .header--abs {
    position: absolute; }
  .header__wrapper {
    max-width: 1185px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    position: relative;
    margin-right: 30px; }
    .header__logo:before {
      content: '';
      height: 28px;
      width: 118px;
      border-radius: 14px;
      background: #82c450;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(-121%, -50%);
              transform: translate(-121%, -50%); }
  .header__logo-svg {
    height: 115px;
    width: 145px; }
  .header__nav-holder {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 28px;
    background: #282461;
    font: 14px/15px roboto-light, Arial, sans-serif;
    border-radius: 14px;
    padding: 0 120px 0 20px;
    margin-right: -78px; }
    @media screen and (max-width: 1185px) {
      .header__nav-holder {
        margin-right: 0;
        padding: 0 20px; } }
  .header__own-agency {
    color: #fff;
    text-decoration: underline; }
    @media screen and (max-width: 850px) {
      .header__own-agency {
        font-size: 10px; } }
    @media screen and (max-width: 650px) {
      .header__own-agency {
        font-size: 8px; } }
    .header__own-agency:hover {
      color: #82c450;
      transition: 0.2s; }
  .header__enter-employer {
    position: absolute;
    top: 12px;
    right: 45px;
    font: 17px roboto-light, Arial, sans-serif;
    color: #282461; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 45px;
  min-height: 30px; }
  .footer__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 575px;
    border-top: 1px solid #b6b7b9;
    font-size: 13px;
    color: #262626;
    padding-top: 9px; }
    .footer__holder ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer__holder a {
      color: #262626;
      margin-left: 8px; }
      .footer__holder a:hover {
        color: #82c450;
        transition: 0.2s; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 850px) {
    .navigation {
      position: absolute;
      display: none;
      right: 0;
      bottom: 0;
      -webkit-transform: translate(0, 50%);
              transform: translate(0, 50%);
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background: #fff;
      border: 1px solid #aeb2be;
      border-radius: 8px;
      padding: 20px; } }
  .navigation.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 850px) {
      .navigation__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
  .navigation__item {
    margin-right: 30px; }
    .navigation__item:last-child {
      margin-right: 0;
      margin-left: 52px; }
    @media screen and (max-width: 850px) {
      .navigation__item {
        margin: 0 0 20px 0; }
        .navigation__item:last-child {
          margin-right: 0;
          margin-left: 0; } }
  .navigation__link {
    font: 14px/15px roboto-light, Arial, sans-serif;
    color: #fff;
    text-decoration: underline;
    padding-left: 20px;
    position: relative; }
    @media screen and (max-width: 850px) {
      .navigation__link {
        color: #242327; } }
    @media screen and (max-width: 650px) {
      .navigation__link {
        font-size: 13px; } }
    .navigation__link:hover {
      color: #82c450;
      transition: 0.2s; }
  .navigation__icon {
    fill: #82c450;
    width: 16px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media screen and (max-width: 850px) {
      .navigation__icon {
        width: 8px; } }

.login__username-holder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.login__icon {
  margin-right: 5px;
  position: static;
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.login__dropdown {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  border-width: 1px;
  border-color: #b7b7b7;
  border-style: solid;
  border-radius: 10px;
  background-color: white;
  padding: 13px 2px;
  display: none; }
  .login__username.active ~ .login__dropdown {
    display: block; }

.login__link {
  font: 12px/14px roboto-regular, Arial, sans-serif;
  color: #242327;
  padding: 3px 18px 5px;
  display: block; }
  .login__link:hover {
    background: #82c450; }

.button {
  background-color: #282461;
  border-radius: 12px;
  height: 24px;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-shadow: 0;
  border: 0;
  white-space: nowrap;
  font-family: roboto-light, Arial, sans-serif;
  transition: 0.2s;
  cursor: pointer;
  color: #fff; }
  .button:hover {
    transition: 0.2s;
    background: #82c450;
    color: #282461; }
  .button--green {
    background: #82c450;
    color: #282461; }
    .button--green:hover {
      background-color: #282461;
      color: #fff; }

.main-banner {
  background: url("../img/main-banner.jpg") no-repeat;
  background-size: cover;
  height: 858px;
  position: relative;
  z-index: 1; }
  .main-banner__layer-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; }
    .main-banner__layer-img--visible {
      display: block; }
  @media screen and (max-width: 1185px) {
    .main-banner {
      box-sizing: border-box;
      padding: 0 20px;
      background-position: center; } }
  .main-banner__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    max-width: 1185px;
    margin: 0 auto;
    position: relative;
    z-index: 2; }

.form {
  border-radius: 5px;
  background-color: rgba(0, 3, 54, 0.6);
  max-width: 610px;
  height: 434px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 18px 16px;
  box-sizing: border-box;
  -webkit-transform: translate(-4%, 7%);
          transform: translate(-4%, 7%); }
  .form--hire {
    -webkit-transform: translate(-5%, 7%);
            transform: translate(-5%, 7%); }
  .form__2nd {
    max-width: 410px;
    max-height: 500px;
    height: auto; }
    .form__2nd .form__link {
      text-decoration: none;
      margin: 0; }
    .form__2nd .form__select-holder {
      margin-bottom: 20px; }
    .form__2nd .ui-selectmenu-button.ui-button {
      width: 45%; }
  .form__simple {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 410px; }
  .form__header {
    font-size: 70px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: roboto-light, Arial, sans-serif;
    margin-bottom: 30px; }
  .form__select-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    font-size: 22px; }
  .form__radio-holder {
    font-size: 17px;
    margin-bottom: 33px; }
  .form__buttons-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 17px; }
    .form__buttons-holder .button {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 31%;
              flex: 0 0 31%; }
      .form__buttons-holder .button:first-child {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 65%;
                flex: 0 0 65%; }
  .form__link-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10px; }
  .form__button {
    height: 48px;
    border-radius: 24px;
    font-size: 23px; }
  .form__image {
    height: 108px;
    fill: #fff; }
  .form__link {
    font-size: 22px;
    color: #fff;
    text-decoration: underline;
    margin-top: 25px; }
  .form__paragraph {
    font-size: 19px;
    margin-bottom: 20px; }
  .form__text-input-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px; }
  .form__text-input {
    font-size: 18px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    background: none;
    padding-bottom: 3px;
    padding-top: 3px;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 45%;
    color: yellow; }
    .form__text-input::-webkit-input-placeholder {
      color: yellow; }
    .form__text-input:-ms-input-placeholder {
      color: yellow; }
    .form__text-input::placeholder {
      color: yellow; }
    .form__text-input--w100 {
      width: 100%;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%; }

.ui-selectmenu-button.ui-button {
  width: 45%;
  border: 0;
  background: none;
  padding-bottom: 3px;
  padding-top: 3px;
  border-bottom: 1px solid #fff; }
  .ui-selectmenu-button.ui-button:hover {
    background: none; }

.ui-selectmenu-text {
  font-size: 22px;
  color: #ffea00; }

.ui-button .ui-selectmenu-icon.ui-icon {
  background: none;
  position: relative;
  width: 11px;
  height: 7px;
  top: 12px; }
  .ui-button .ui-selectmenu-icon.ui-icon:before {
    content: '';
    width: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent; }

.ui-menu .ui-menu-item-wrapper {
  font-size: 14px;
  color: #fff;
  background: #282461; }

.job-seekers {
  background: #e5e7ea;
  background: #e5e7ea;
  padding-bottom: 26px;
  border-bottom: 1px solid #b6b7b9;
  margin-bottom: 30px; }
  @media screen and (max-width: 1185px) {
    .job-seekers {
      box-sizing: border-box;
      padding: 0 20px; } }
  .job-seekers__wrapper {
    max-width: 1185px;
    margin: 0 auto; }
  .job-seekers__title-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 22px;
    box-sizing: border-box; }
  .job-seekers__title {
    font-size: 16px;
    color: #282461; }
  .job-seekers__see-all {
    font-size: 14px;
    color: #282461;
    text-decoration: underline; }
    .job-seekers__see-all:hover {
      color: #82c450;
      transition: 0.2s; }

.carousel--wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
  max-width: 990px; }
  @media screen and (max-width: 1185px) {
    .carousel--wrapper {
      max-width: 75%; } }
  @media screen and (max-width: 850px) {
    .carousel--wrapper {
      max-width: 70%; } }
  @media screen and (max-width: 650px) {
    .carousel--wrapper {
      max-width: 50%; } }

.carousel--holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-sizing: border-box;
  padding-right: 15px;
  width: 100%; }

.carousel__fixed-frame {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px; }

.carousel__frame-text {
  font: 26px/31px roboto-regular, Arial, sans-serif;
  background: #dcdae8;
  padding: 20px 10px;
  display: block;
  width: 180px;
  height: 205px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 15px; }

.carousel__img {
  width: 180px;
  height: 205px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 12px; }

.carousel__button {
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  height: 38px;
  border-radius: 16px; }

.carousel__candidate-name {
  font: 14px/15px roboto-regular, Arial, sans-serif;
  color: #000000;
  display: block;
  margin-bottom: 12px; }

.carousel__candidate-position {
  font: 12px/15px roboto-light, Arial, sans-serif;
  color: #000000; }
  .carousel__candidate-position strong {
    font-family: roboto-regular, Arial, sans-serif; }

.carousel .slick-prev, .carousel .slick-next {
  top: -10%;
  width: 30px;
  height: 30px; }
  .carousel .slick-prev:hover:before, .carousel .slick-next:hover:before {
    color: #282461;
    transition: 0.2s; }

.carousel .slick-prev:before, .carousel .slick-next:before {
  font-size: 30px;
  color: #d2c5c5;
  transition: 0.2s; }

.carousel .slick-next {
  right: -13%; }

.carousel .slick-prev {
  left: auto;
  right: -9%; }
  @media screen and (max-width: 850px) {
    .carousel .slick-prev {
      right: 0; } }

.how-it-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eef0f3; }
  .how-it-works__button {
    width: 575px;
    background: #282461;
    color: #fff;
    font-size: 23px;
    height: 48px;
    border-radius: 25px;
    margin-bottom: 70px; }
    @media screen and (max-width: 650px) {
      .how-it-works__button {
        width: 80%; } }

.hire-now {
  padding: 0 10px;
  margin-bottom: 20px; }
  .hire-now__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .hire-now__buttons-holder {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .hire-now__select-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px; }
  .hire-now__select-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23%;
            flex: 0 0 23%; }
    .hire-now__select-wrapper:first-child {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 48%;
              flex: 0 0 48%; }
  .hire-now__radio-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .hire-now__img-svg {
    height: 135px;
    width: 111px; }
  .hire-now__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px; }
  .hire-now__holder {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 150px);
            flex: 0 0 calc(100% - 150px); }
  .hire-now__title {
    font: 48px roboto-thin, Arial, sans-serif;
    color: #636363; }
  .hire-now__label {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    font-size: 13px;
    color: #282461; }
  .hire-now__button {
    height: 48px;
    border-radius: 24px;
    font-size: 23px; }
  .hire-now .ui-selectmenu-button.ui-button {
    border-bottom: 1px solid #aeb2be;
    width: 100%;
    box-sizing: border-box; }
  .hire-now .ui-button .ui-selectmenu-icon.ui-icon:before {
    border-color: #aeb2be transparent transparent transparent; }
  .hire-now .ui-selectmenu-text {
    color: #282461;
    font-size: 14px; }
  .hire-now .ui-menu .ui-menu-item-wrapper {
    font-size: 14px !important; }
  .hire-now .ui-button .ui-selectmenu-icon.ui-icon {
    top: 6px; }

.candidate-card {
  background: #fff;
  border: 1px #e5e7ea solid;
  border-radius: 6px;
  margin-bottom: 30px;
  padding: 18px;
  box-sizing: border-box; }
  .candidate-card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
  .candidate-card__icon-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .candidate-card__icon {
    fill: #82c450;
    width: 40px; }
  .candidate-card__holder {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 18px; }
  .candidate-card__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 81px; }
    .candidate-card__wrapper--more .candidate-card__controls {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
  .candidate-card__more {
    font-size: 14px;
    color: #282461;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .candidate-card__more-icon {
    font-family: slick;
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    display: inline-block; }
    .candidate-card__more-icon:before {
      content: "→";
      font-size: 30px; }
  .candidate-card__close-button-svg {
    width: 27px;
    height: 27px;
    fill: #989797;
    cursor: pointer;
    transition: 0.2s; }
    .candidate-card__close-button-svg:hover {
      transition: 0.2s;
      fill: #282461; }
  .candidate-card__img {
    width: 180px;
    height: 205px; }
  .candidate-card__verified {
    position: absolute;
    top: 10px;
    left: 10px; }
    .candidate-card__verified svg {
      height: 30px;
      width: 30px; }
  .candidate-card__name {
    font: 22px roboto-regular, Arial, sans-serif;
    color: #000000;
    margin-bottom: 10px; }
  .candidate-card__details-holder {
    color: #000000; }
  .candidate-card__detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    margin-bottom: 8px; }
  .candidate-card__detail-name, .candidate-card__detail-value {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .candidate-card__detail-value {
    font-family: roboto-regular, Arial, sans-serif; }

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .checkbox__icon {
    width: 12px;
    height: 12px;
    border: 1px solid #aeb2be;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 5px;
    box-sizing: border-box; }
  .checkbox__icon-svg {
    height: 10px;
    width: 10px;
    fill: #fff;
    display: none; }
  .checkbox__input {
    display: none; }
    .checkbox__input:checked ~ .checkbox__icon {
      background: #82c450;
      border: 1px solid #82c450; }
      .checkbox__input:checked ~ .checkbox__icon .checkbox__icon-svg {
        display: block; }

.popup {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(200, 200, 200, 0.7);
  font-size: 14px;
  color: #242327; }
  .popup .ui-selectmenu-text {
    font-size: 14px;
    color: #242327;
    font-family: roboto-light, Arial, sans-serif; }
  .popup .ui-selectmenu-button.ui-button {
    border-color: #aeb2be; }
  .popup .ui-button .ui-selectmenu-icon.ui-icon {
    height: 7px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    .popup .ui-button .ui-selectmenu-icon.ui-icon:before {
      border-color: #aeb2be transparent transparent transparent; }
  .popup__list {
    border-style: solid;
    border-width: 1px;
    border-color: #a2a2a2;
    border-radius: 10px;
    background-color: #d5d8dd;
    min-width: 416px;
    min-height: 465px;
    color: #242327;
    padding: 25px 18px;
    box-sizing: border-box; }
  .popup__checkbox {
    margin-right: 20px; }
  .popup__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 20px; }
  .popup__field-name {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%; }
  .popup__buttons-holder {
    width: 100%; }
  .popup__textarea {
    width: 100%;
    resize: none; }

.hamburger {
  display: none;
  color: #fff; }
  @media screen and (max-width: 850px) {
    .hamburger {
      display: block;
      z-index: 3; } }
  .hamburger.active {
    color: #242327; }
