@font-face {
  font-family: roboto-regular;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"); }

@font-face {
  font-family: roboto-light;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2"); }

@font-face {
  font-family: roboto-thin;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2"); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

html,
body {
  height: 100%; }

body {
  background: #eef0f3;
  font: 16px roboto-light, Arial, sans-serif;
  color: #fff; }

.hidden {
  display: none !important; }

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow-x: hidden; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  @media screen and (max-width: 2370px) {
    .header {
      box-sizing: border-box;
      padding: 0 40px; } }
  .header__wrapper {
    max-width: 2370px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    position: relative;
    margin-right: 60px; }
    .header__logo:before {
      content: '';
      height: 55px;
      width: 236px;
      border-radius: 28px;
      background: #82c450;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(-121%, -50%);
              transform: translate(-121%, -50%); }
  .header__logo-svg {
    height: 230px;
    width: 290px; }
  .header__nav-holder {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 55px;
    background: #282461;
    font: 28px/30px roboto-light, Arial, sans-serif;
    border-radius: 28px;
    padding: 0 240px 0 40px;
    margin-right: -156px; }
    @media screen and (max-width: 2370px) {
      .header__nav-holder {
        padding: 0 20px;
        margin-right: 0; } }
  .header__own-agency {
    color: #fff;
    text-decoration: underline; }
    @media screen and (max-width: 1700px) {
      .header__own-agency {
        font-size: 20px; } }
    @media screen and (max-width: 1300px) {
      .header__own-agency {
        font-size: 16px; } }
    .header__own-agency:hover {
      color: #82c450;
      transition: 0.2s; }
  .header__enter-employer {
    position: absolute;
    top: 24px;
    right: 89px;
    font: 33px roboto-light, Arial, sans-serif;
    color: #282461; }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation__item {
  margin-right: 60px; }
  .navigation__item:last-child {
    margin-right: 0;
    margin-left: 101px; }
  @media screen and (max-width: 1700px) {
    .navigation__item {
      margin-right: 30px; }
      .navigation__item:last-child {
        margin-right: 0;
        margin-left: 0; } }

.navigation__link {
  font: 28px/30px roboto-light, Arial, sans-serif;
  color: #fff;
  text-decoration: underline;
  padding-left: 40px;
  position: relative; }
  @media screen and (max-width: 1700px) {
    .navigation__link {
      font: 20px/22px roboto-light, Arial, sans-serif;
      padding-left: 20px; } }
  @media screen and (max-width: 1300px) {
    .navigation__link {
      font-size: 16px; } }
  .navigation__link:hover {
    color: #82c450;
    transition: 0.2s; }

.navigation__icon {
  fill: #82c450;
  width: 32px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  @media screen and (max-width: 1700px) {
    .navigation__icon {
      width: 16px; } }

.button {
  background-color: #82c450;
  border-radius: 24px;
  height: 48px;
  padding: 0 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-shadow: 0;
  border: 0;
  white-space: nowrap;
  font-family: roboto-light, Arial, sans-serif;
  transition: 0.2s; }
  .button:hover {
    transition: 0.2s;
    background: #51822c; }

.main-banner {
  background: url("../img/main-banner.jpg") no-repeat;
  background-size: cover;
  height: 1715px; }
  @media screen and (max-width: 2370px) {
    .main-banner {
      box-sizing: border-box;
      padding: 0 40px; } }
  .main-banner__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    max-width: 2370px;
    margin: 0 auto; }

.form {
  border-radius: 10px;
  background-color: rgba(0, 3, 54, 0.6);
  max-width: 1217px;
  height: 867px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 37px 35px;
  box-sizing: border-box;
  -webkit-transform: translate(-4%, 7%);
          transform: translate(-4%, 7%); }
  .form__2nd {
    max-width: 820px;
    max-height: 1000px;
    height: auto; }
    .form__2nd .form__link {
      text-decoration: none;
      margin: 0; }
    .form__2nd .form__select-holder {
      margin-bottom: 40px; }
  .form__header {
    font-size: 139px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: roboto-light, Arial, sans-serif;
    margin-bottom: 60px; }
  .form__select-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 29px;
    font-size: 44px; }
  .form__radio-holder {
    font-size: 34px;
    margin-bottom: 67px; }
  .form__buttons-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 34px; }
    .form__buttons-holder .button {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 31%;
              flex: 0 0 31%; }
      .form__buttons-holder .button:first-child {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 65%;
                flex: 0 0 65%; }
  .form__link-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 20px; }
  .form__button {
    height: 95px;
    border-radius: 48px;
    font-size: 46px; }
  .form__image {
    height: 216px;
    fill: #fff; }
  .form__link {
    font-size: 43px;
    color: #fff;
    text-decoration: underline;
    margin-top: 50px; }
  .form__paragraph {
    font-size: 38px;
    margin-bottom: 40px; }
  .form__text-input-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px; }
  .form__text-input {
    font-size: 36px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    background: none;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 0;
    border-bottom: 2px solid #fff;
    width: 45%;
    color: yellow; }
    .form__text-input::-webkit-input-placeholder {
      color: yellow; }
    .form__text-input:-ms-input-placeholder {
      color: yellow; }
    .form__text-input::placeholder {
      color: yellow; }
    .form__text-input--w100 {
      width: 100%;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%; }
  .form .ui-selectmenu-button.ui-button {
    width: 45%;
    border: 0;
    background: none;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 2px solid #fff; }
  .form .ui-selectmenu-text {
    font-size: 44px;
    color: #ffea00; }
  .form .ui-button .ui-selectmenu-icon.ui-icon {
    background: none;
    position: relative;
    width: 22px;
    height: 13px;
    top: 24px; }
    .form .ui-button .ui-selectmenu-icon.ui-icon:before {
      content: '';
      width: 0;
      position: absolute;
      right: 0;
      top: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 11px 0 11px;
      border-color: #ffffff transparent transparent transparent; }

.ui-menu .ui-menu-item-wrapper {
  font-size: 44px;
  color: #ffea00; }

.job-seekers {
  background: #e5e7ea;
  background: #e5e7ea;
  padding-bottom: 52px;
  border-bottom: 2px solid #b6b7b9;
  margin-bottom: 60px; }
  @media screen and (max-width: 2370px) {
    .job-seekers {
      box-sizing: border-box;
      padding: 0 40px; } }
  .job-seekers__wrapper {
    max-width: 2370px;
    margin: 0 auto; }
  .job-seekers__title-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 44px;
    box-sizing: border-box; }
  .job-seekers__title {
    font-size: 32px;
    color: #282461; }
  .job-seekers__see-all {
    font-size: 28px;
    color: #282461;
    text-decoration: underline; }
    .job-seekers__see-all:hover {
      color: #82c450;
      transition: 0.2s; }

.carousel--wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
  max-width: 80%; }
  @media screen and (max-width: 2370px) {
    .carousel--wrapper {
      max-width: 75%; } }
  @media screen and (max-width: 1700px) {
    .carousel--wrapper {
      max-width: 70%; } }
  @media screen and (max-width: 1300px) {
    .carousel--wrapper {
      max-width: 50%; } }

.carousel--holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-sizing: border-box;
  padding-right: 30px;
  width: 100%; }

.carousel__fixed-frame {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px; }

.carousel__frame-text {
  font: 52px/62px roboto-regular, Arial, sans-serif;
  background: #dcdae8;
  padding: 40px 20px;
  display: block;
  width: 360px;
  height: 410px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 29px; }

.carousel__img {
  width: 360px;
  height: 410px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 12px; }

.carousel__button {
  font-size: 37px;
  width: 100%;
  box-sizing: border-box;
  height: 75px;
  border-radius: 38px; }

.carousel__candidate-name {
  font: 28px/30px roboto-regular, Arial, sans-serif;
  color: #000000;
  display: block;
  margin-bottom: 23px; }

.carousel__candidate-position {
  font: 24px/30px roboto-light, Arial, sans-serif;
  color: #000000; }
  .carousel__candidate-position strong {
    font-family: roboto-regular, Arial, sans-serif; }

.carousel .slick-prev, .carousel .slick-next {
  top: -10%;
  width: 60px;
  height: 60px; }

.carousel .slick-prev:before, .carousel .slick-next:before {
  font-size: 60px; }

.carousel .slick-next {
  right: -13%; }

.carousel .slick-prev {
  left: auto;
  right: -9%; }
  @media screen and (max-width: 1700px) {
    .carousel .slick-prev {
      right: 0; } }

.how-it-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eef0f3;
  padding-bottom: 90px; }
  .how-it-works__button {
    width: 1150px;
    background: #282461;
    color: #fff;
    font-size: 46px;
    height: 95px;
    border-radius: 48px;
    margin-bottom: 140px; }
    @media screen and (max-width: 1300px) {
      .how-it-works__button {
        width: 80%; } }
  .how-it-works__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1150px;
    border-top: 2px solid #b6b7b9;
    font-size: 26px;
    color: #262626;
    padding-top: 18px; }
    .how-it-works__holder ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .how-it-works__holder a {
      color: #262626;
      margin-left: 15px; }
      .how-it-works__holder a:hover {
        color: #82c450;
        transition: 0.2s; }
