//
//
@font-face {
    font-family: roboto-regular;
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: roboto-light;
    src: url('../fonts/Roboto-Light.woff') format('woff'),
         url('../fonts/Roboto-Light.woff2') format('woff2');
}
@font-face {
    font-family: roboto-thin;
    src: url('../fonts/Roboto-Thin.woff') format('woff'),
         url('../fonts/Roboto-Thin.woff2') format('woff2');
}
@font-face {
    font-family: roboto-medium;
    src: url('../fonts/Roboto-Medium.woff') format('woff'),
         url('../fonts/Roboto-Medium.woff2') format('woff2');
}
@font-face {
    font-family: roboto-black;
    src: url('../fonts/Roboto-Black.woff') format('woff'),
         url('../fonts/Roboto-Black.woff2') format('woff2');
}
$roboto-light: roboto-light;
$roboto-regular: roboto-regular;
$roboto-thin: roboto-thin;
$roboto-medium: roboto-medium;
$roboto-black: roboto-black;




//break points
$res_450:  450px;
$res_555:  550px;
$res_650:  650px;
$res_850:  850px;
$res_1185:  1185px;

//colors
$color-white:       #fff;
$color-black:       #242327;
$color-green:       #82c450;
$color-blue:        #282461;
$color-lght-blue:   #211a89;
$color-gray:        #e5e7ea;
$color-gray-2:      #aeb2be;
$color-violet:      #6a65a9;
$color-yellow:      #ffd400;


//fonts
$font:    roboto-regular, Arial, sans-serif;
$font_light:    roboto-light, Arial, sans-serif;
$font_thin: roboto-thin, Arial, sans-serif;
$font_medium: roboto-medium, Arial, sans-serif;
$font_black: roboto-black, Arial, sans-serif;



