//
//
@font-face {
    font-family: roboto-regular;
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: roboto-light;
    src: url('../fonts/Roboto-Light.woff') format('woff'),
         url('../fonts/Roboto-Light.woff2') format('woff2');
}
@font-face {
    font-family: roboto-thin;
    src: url('../fonts/Roboto-Thin.woff') format('woff'),
         url('../fonts/Roboto-Thin.woff2') format('woff2');
}
$roboto-light: roboto-light;
$roboto-regular: roboto-regular;
$roboto-thin: roboto-thin;



//break points
$res_555:  550px;
$res_650:  650px;
$res_850:  850px;
$res_1185:  1185px;

//colors
$color-white:       #fff;
$color-green:       #82c450;
$color-blue:        #282461;
$color-lght-blue:   #211a89;
$color-gray:        #e5e7ea;
$color-gray-2:      #aeb2be;


//fonts
$font:    roboto-regular, Arial, sans-serif;
$font_light:    roboto-light, Arial, sans-serif;
$font_thin: roboto-thin, Arial, sans-serif;


