.balloon {
    color: $color-white;
    font: 18px $font;
    position: absolute;
    display: none;
    left: -10px;
    top: 0;
    transform: translate(-100%,0);
    background-color: rgb(90, 87, 133);
    max-width: 305px;
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
    white-space: pre-line;
    &:after {
        content: '';
        position: absolute;
        right: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent rgb(90, 87, 133);
    }
    &.active {
        display: flex;
    }
    &__buttons-holder {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font: 24px/26px $font;
        margin: 0 0 20px;
    }
    &__text {
        font: 15px/17px $font;
        margin: 0 0 20px;
    }
}