.button {
    background-color: $color-blue;
    border-radius: 12px;
    height: 24px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0;
    border: 0;
    white-space: nowrap;
    font-family: $font_light;
    transition: 0.2s;
    cursor: pointer;
    color: $color-white;
    &:hover {
        transition: 0.2s;
        background: $color-green;
        color: $color-blue;
    }
    &--green {
        background: $color-green;
        color: $color-blue;
        &:hover {
            background-color: $color-blue;
            color: $color-white;
        }
    }
}