.candidate-card {
    background: $color-white;
    border: 1px #a2a2a2 solid;
    border-radius: 6px;
    margin-bottom: 18px;
    padding: 18px 18px 10px;
    box-sizing: border-box;
    &__wrapper {
        display: flex;
        position: relative;
        @include width650 {
            flex-wrap: wrap;
        }
        &--more {
            display: none;
            &.active {
                display: flex;
            }
            .candidate-card__img {
                @include width650 {
                    width: 0;
                }
            }
        }
    }
    &__icon-holder {
        display: flex;
        margin-bottom: 20px;
    }
    &__icon {
        fill: $color-green;
        width: 29px;
        height: 58px;
    }
    &__phone {
        font: 15px/17px $font;
        color: $color-black;
    }
    &__buttons-holder {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 136%;
        bottom: 0;
        &--margin {
            margin-right: -91px;
        }
        @include width850 {
            width: 100%;
        }
    }
    &__button {
        flex: 1 1 48%;
        position: relative;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__holder {
        flex: 1;
        padding: 0 18px;
        display: flex;
        flex-direction: column;
        .candidate-card__small-card & {
            padding: 0 9px;
        }
    }
    &__controls {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 81px;
        padding-bottom: 14px;
        .candidate-card__wrapper--more & {
            justify-content: flex-end;
        }
        &--center {
            justify-content: space-around;
        }
        @include width650 {
            width: auto;
        }
    }
    &__more {
        font-size: 14px;
        color: $color-blue;
        display: flex;
        align-items: center;
        &--less {
            font-size: 14px;
            color: $color-blue;
            display: flex;
            align-items: center;
            .candidate-card__more-icon {
                transform: rotate(-90deg);
            }
        }
        &--even-more {
            font-size: 14px;
            color: $color-blue;
            display: flex;
            align-items: center;
            .candidate-card__more-icon {
                transform: rotate(0deg);
            }
        }
    }
    &__more-icon {
        font-family: slick;
        width: 25px;
        height: 25px;
        transform: rotate(90deg);
        margin-left: 10px;
        display: inline-block;
        &:before {
            content: "→";
            font-size: 30px;
        }
    }
    &__close-button {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: -4px;
        @include width650 {
            position: absolute;
            top: 0;
            right: 0;
            width: 70px;
            justify-content: flex-end;
        }
    }
    &__flag-svg {
        width: 21px;
        height: 25px;
        fill: $color-gray;
        &.active {
            fill: $color-yellow;
        }
    }
    &__close-button-svg {
        width: 27px;
        height: 27px;
        fill: #989797;
        cursor: pointer;
        transition: 0.2s;
        margin-left: 30px;
        &:hover {
            transition: 0.2s;
            fill: $color-blue;
        }
        @include width650 {
            margin-left: 30px;
        }
    }
    &__img {
        width: 180px;
        height: 205px;
        .candidate-card__small-card & {
            width: 102px;
            height: 117px;
        }
        .candidate-card__wrapper--more & {
            height: auto;
        }
    }
    &__img-holder {
        @include width650 {
            flex: 0 0 100%;
        }
        .candidate-card__small-card & {
            @include width650 {
                flex: 1;
            }
        }
    }
    &__verified {
        position: absolute;
        top: 10px;
        left: 10px;
        svg {
            height: 30px;
            width: 30px;
        }
    }
    &__name {
        font: 22px $font;
        color: #000000;
        margin-bottom: 14px;
        .candidate-card__small-card & {
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
    &__details-holder {
        flex: 1;
        position: relative;
        padding-bottom: 30px;
        color: #000000;
    }
    &__detail {
        display: flex;
        font-size: 12px;
        margin-bottom: 7px;
        position: relative;
        .candidate-card__small-card & {
            font-size: 9px;
            margin-bottom: 4px;
        }
        &--border {
            border: 1px $color-gray-2 solid;
            border-radius: 8px;
            padding: 10px;
            box-sizing: border-box;
        }
        &--bottom-line {
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: #aeb2be;
            }
        }
        &--name {
            margin-bottom: 21px;
        }
    }
    &__detail-name,
    &__detail-value {
        flex: 0 0 50%;
    }
    &__detail-value {
        font-family: $font;
    }
    &__personal-info {
        color: $color-black;
        font-size: 12px;
    }
    strong,
    &__location,
    &__email,
    &__phone,
    &__id {
        font-family: $font;
        font-weight: 700;
        margin-bottom: 13px;
    }
    &__image-svg {
        width: 90px;
        height: 115px;
        fill: $color-green;
    }
    &__img-wrapper {
        max-width: 180px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 18px;
        @include width650 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    &__verified-popup {
        background: $color-violet;
        color: $color-white;
        position: absolute;
        top: 0;
        left: -20px;
        transform: translate(-100%, 0);
        padding: 35px 20px;
        border-radius: 8px;
        width: 313px;
        font: 18px/20px $font;
        display: none;
        flex-direction: column;
        @include width1185 {
            transform: translate(57%, 0);
        }
        @include width650 {
            transform: translate(12%, 0);
        }
        .candidate-card__verified:hover & {
            display: block;
        }
        &:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 10px;
            border-color: transparent transparent transparent $color-violet;
            position: absolute;
            right: -10px;
            top: 10px;
            @include width1185 {
                right: auto;
                left: -10px;
                transform: rotate(180deg);
            }
        }
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(100%, 0);
            height: 100%;
            width: 21px;
            z-index: 0;
        }
        &.active {
            display: flex;
        }
        .button {
            margin-top: 30px;
        }
    }
    &__vetted {
        font-size: 12px;
        margin-bottom: 30px;
        @include width650 {
            margin-bottom: 10px;
        }
    }
    &__small-card {
        position: relative;
        border-radius: 10px;
        background-image: -moz-linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);
        background-image: -webkit-linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);
        background-image: -ms-linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);
        box-shadow: 0px 6px 27px 0px rgba(0, 0, 0, 0.46);
        width: 280px;
        height: 142px;
        display: flex;
        padding: 8px;
        box-sizing: border-box;
        @include width650 {
            margin: 0 auto;
        }
    }

    &__flag-holder {
        .candidate-card__verified-popup {
            transform: translate(60%, 0);
        }
        &:hover svg {
            fill: $color-yellow;
            cursor: pointer;
        }
    }
    &__contacts-left {
        margin-bottom: 40px;
        &--number {
            font-size: 16px;
            color: $color-white;
            background: $color-green;
            width: 25px;
            height: 25px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 5px;
        }
    }
}
