.candidate-card {
    background: $color-white;
    border: 1px $color-gray solid;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 18px;
    box-sizing: border-box;
    &__wrapper {
        display: flex;
        position: relative;
        @include width650 {
            flex-wrap: wrap;
        }
        &--more {
            display: none;
            &.active {
                display: flex;
            }
        }
    }
    &__icon-holder {
        display: flex;
    }
    &__icon {
        fill: $color-green;
        width: 40px;
    }
    &__holder {
        flex: 1;
        padding: 0 18px;
        .candidate-card__small-card & {
            padding: 0 9px;
        }
    }
    &__controls {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 81px;
        .candidate-card__wrapper--more & {
            justify-content: flex-end;
        }
        @include width650 {
            width: auto;
        }
    }
    &__more {
        font-size: 14px;
        color: $color-blue;
        display: flex;
        align-items: center;
        &--less {
            font-size: 14px;
            color: $color-blue;
            display: flex;
            align-items: center;
            .candidate-card__more-icon {
                transform: rotate(-90deg);
            }
        }
        &--even-more {
            font-size: 14px;
            color: $color-blue;
            display: flex;
            align-items: center;
            .candidate-card__more-icon {
                transform: rotate(0deg);
            }
        }
    }
    &__more-icon {
        font-family: slick;
        width: 30px;
        height: 30px;
        transform: rotate(90deg);
        display: inline-block;
        &:before {
            content: "→";
            font-size: 30px;
        }
    }
    &__close-button {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__flag-svg {
        width: 15px;
        height: 20px;
        fill: $color-gray;
    }
    &__close-button-svg {
        width: 27px;
        height: 27px;
        fill: #989797;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            transition: 0.2s;
            fill: $color-blue;
        }
    }
    &__img {
        width: 180px;
        height: 205px;
        .candidate-card__small-card & {
            width: 102px;
            height: 117px;
        }
    }
    &__img-holder {
        @include width650 {
            flex: 0 0 100%;
        }
        .candidate-card__small-card & {
            @include width650 {
                flex: 1;
            }
        }
    }
    &__verified {
        position: absolute;
        top: 10px;
        left: 10px;
        svg {
            height: 30px;
            width: 30px;
        }
    }
    &__name {
        font: 22px $font;
        color: #000000;
        margin-bottom: 10px;
        .candidate-card__small-card & {
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
    &__details-holder {

        color: #000000;
    }
    &__detail {
        display: flex;
        font-size: 12px;
        margin-bottom: 8px;
        .candidate-card__small-card & {
            font-size: 9px;
            margin-bottom: 4px;
        }
    }
    &__detail-name,
    &__detail-value {
        flex: 0 0 50%;
    }
    &__detail-value {
        font-family: $font;
    }
    &__personal-info {
        color: $color-black;
        font-size: 12px;
    }
    strong,
    &__location,
    &__email,
    &__phone {
        font-family: $font;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__image-svg {
        width: 90px;
        height: 115px;
        fill: $color-green;
    }
    &__img-wrapper {
        max-width: 180px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include width650 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    &__verified-popup {
        background: $color-violet;
        color: $color-white;
        position: absolute;
        top: 0;
        left: -20px;
        transform: translate(-100%,0);
        padding: 35px 20px;
        border-radius: 8px;
        width: 313px;
        font: 18px/20px $font;
        display: none;
        @include width1185 {
            transform: translate(57%,0);
        }
        .candidate-card__verified:hover & {
            display: block;
        }
        &:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 10px;
            border-color: transparent transparent transparent $color-violet;
            position: absolute;
            right: -10px;
            top: 10px;
            @include width1185 {
                right: auto;
                left: -10px;
                transform: rotate(180deg);
            }
        }
        &.active {
            display: flex;
        }
    }
    &__vetted {
        font-size: 12px;
    }
    &__small-card {
        position: relative;
        border-radius: 10px;
        background-image: -moz-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(236,236,236) 0%, rgb(255,255,255) 100%);
        box-shadow: 0px 6px 27px 0px rgba(0, 0, 0, 0.46);
        width: 280px;
        height: 142px;
        display: flex;
        padding: 8px;
        box-sizing: border-box;
    }
    &__flag-svg {
        &.active {
            fill: $color-yellow;
        }
    }
    &__flag-holder {
        .candidate-card__verified-popup {
            transform: translate(40%, 0);
        }
    }
}
