.form {
    border-radius: 5px;
    background-color: rgba(0, 3, 54, 0.6);
    max-width: 610px;
    height: 434px;
    display: flex;
    flex-direction: column;
    padding: 18px 16px;
    box-sizing: border-box;
    transform: translate(0%, 8%);
    @include width850 {
        max-width: 100%;
        transform: translate(0,0);
    }
    &--hire {
        transform: translate(0%, 8%);
    }
    &__2nd {
        max-width: 410px;
        max-height: 500px;
        height: auto;
        transform: translate(-24%, -18%);
        .form__link {
            text-decoration: none;
            margin: 0;
        }
        .form__select-holder {
            margin-bottom: 20px;
        }
        .ui-selectmenu-button.ui-button {
            width: 45%;
        }
        .form__paragraph {
            font-size: 19px;
            margin-bottom: 40px;
        }
        .form__text-input-holder {
            margin-bottom: 40px;
        }
    }
    &__simple {
        justify-content: space-between;
        max-width: 410px;
    }
    &__header {
        font-size: 70px;
        align-self: center;
        font-family: $font_light;
        margin-bottom: 30px;
        margin-left: 40px;
    }
    &__select-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        font-size: 22px;
    }
    &__radio-holder {
        font-size: 17px;
        margin-bottom: 33px;
        display: flex;
        padding-left: 20px;
        .radio-button {
            font-size: 17px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    &__buttons-holder {
        display: flex;
        justify-content: space-between;
        margin-bottom: 17px;
        .button {
            flex: 0 0 31%;
            &:first-child {
                flex: 0 0 65%;
            }
            @include width850 {
                flex:1 !important;
                margin: 0 7px;
            }
        }
    }
    &__link-holder {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 32px;
    }
    &__button {
        height: 48px;
        border-radius: 24px;
        font-size: 23px;
    }
    &__image {
        height: 108px;
        width: 104px;
        fill: $color-white;
    }

    &__link {
        font-size: 22px;
        color: $color-white;
        text-decoration: underline;
        margin-top: 25px;
        margin-right: 11px;
    }
    //2nd form styles
    &__paragraph {
        font-size: 19px;
        margin-bottom: 20px;
    }
    &__text-input-holder {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__text-input {
        font-size: 18px;
        flex: 0 1 45%;
        background: none;
        padding-bottom: 3px;
        padding-top: 3px;
        border: 0;
        border-bottom: 1px solid $color-white ;
        width: 45%;
        color: yellow;
        &::placeholder {
            color: yellow;
        }
        &--w100 {
            width: 100%;
            flex: 1 1 100%;
        }
    }
}


.ui-selectmenu-button.ui-button {
    width: 45%;
    border: 0;
    background: none;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 1px solid $color-white ;
    &:hover {
        background: none;
    }
}
.ui-selectmenu-text {
    font-size: 22px;
    color: #ffea00;
}
.ui-button .ui-selectmenu-icon.ui-icon {
    background: none;
    position: relative;
    width: 11px;
    height: 7px;
    top: 12px;
    &:before {
        content: '';
        width: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 5px 0 5px;
        border-color: #ffffff transparent transparent transparent;
    }
}
.ui-menu .ui-menu-item-wrapper {
    font-size: 14px;
    color: $color-white;
    background: $color-blue;
}

