.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    @include width2370 {
        box-sizing: border-box;
        padding: 0 40px;
    }
    &--abs {
        position: absolute;
    }
    &__wrapper {
        max-width: 2370px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }
    &__logo {
        position: relative;
        margin-right: 60px;
        &:before {
            content: '';
            height: 55px;
            width: 236px;
            border-radius: 28px;
            background: $color-green;
            position: absolute;
            top:50%;
            left: 0;
            transform: translate(-121%,-50%);
        }
    }
    &__logo-svg {
        height: 230px;
        width: 290px;
    }
    &__nav-holder {
        flex: 0 1 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        background: $color-blue;
        font: 28px/30px $font_light;
        border-radius: 28px;
        padding: 0 240px 0 40px;
        margin-right: -156px;
        @include width2370 {
            padding: 0 20px;
            margin-right: 0;
        }
    }
    &__own-agency {
        color: $color-white;
        text-decoration: underline;
        @include width1700 {
            font-size: 20px;
        }
        @include width1300 {
            font-size: 16px;
        }
        &:hover {
            color: $color-green;
            transition: 0.2s;
        }
    }
    &__enter-employer {
        position: absolute;
        top: 24px;
        right: 89px;
        font: 33px $font_light;
        color: $color-blue;
    }
}
