.hire-now {
    padding: 0 10px;
    margin-bottom: 45px;
    color: #252525;

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__buttons-holder {
        flex: 0 0 100%;
        display: flex;
        justify-content: space-between;
        .button:first-child {
            flex: 1;
            margin-right: 30px;
        }
    }
    &__select-holder {
        display: flex;
        align-items: flex-end;
        margin-bottom: 7px;
    }
    &__select-wrapper {
        flex: 0 0 26%;
        &:first-child {
            flex: 0 0 48%;
            @include width650 {
                flex: 1;
            }
        }
        @include width650 {
            flex: 1;
        }
    }
    &__radio-holder {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;
        .radio-button:first-child {
            margin-left: 0;
        }
    }
    &__img-svg {
        height: 135px;
        width: 111px;
        margin-right: 8px;
        margin-bottom: 10px;
    }
    &__image {
        flex: 0 0 150px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
            width: 180px;
            height: 130px;
        }
    }
    &__add-location {
        padding-left: 30px;
        position: relative;
        font: 13px $font;
        display: block;
        cursor: pointer;
        &:before {
            content: '+';
            position: absolute;
            height: 16px;
            width: 15px;
            border-radius: 50%;
            background: $color-green;
            left: 0;
            top: 50%;
            transform: translate(0,-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-white;
        }
    }

    &__holder {
        flex: 0 0 calc(100% - 204px);
        //.worker-search & {
        //    flex: 0 0 calc(100% - 200px);
        //}
        @include width650 {
            width: 100%;
            flex: 1 !important;
        }
    }
    &__title {
        font: 48px $font_thin;
        color: #636363;
        margin-bottom: 4px;
    }
    &__label {
        flex: 0 0 50%;
        font-size: 13px;
        color: $color-blue;
    }
    &__button {
        height: 48px;
        border-radius: 24px;
        font-size: 23px;
    }
    .ui-selectmenu-button.ui-button {
        border-bottom: 1px solid $color-gray-2;
        width: 90%;
        box-sizing: border-box;
        padding: .4em;
        flex-basis: 30%;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    .ui-button .ui-selectmenu-icon.ui-icon:before {
        border-color: $color-gray-2 transparent transparent transparent;
    }
    .ui-selectmenu-text {
        color: $color-blue;
        font-size: 14px;
    }
    .ui-menu .ui-menu-item-wrapper {
        font-size: 14px !important;
    }
    .ui-button .ui-selectmenu-icon.ui-icon {
        top: 6px;
    }
}