.hire-now {
    padding: 0 10px;
    margin-bottom: 20px;
    color: #252525;
    &__form {
        display: flex;
        flex-wrap: wrap;
    }
    &__buttons-holder {
        flex: 0 0 100%;
        display: flex;
        justify-content: space-between;
    }
    &__select-holder {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    &__select-wrapper {
        flex: 0 0 23%;
        &:first-child {
            flex: 0 0 48%;
        }
    }
    &__radio-holder {
        display: flex;
        justify-content: flex-end;
    }
    &__img-svg {
        height: 135px;
        width: 111px;
    }
    &__image {
        flex: 0 0 150px;
    }
    &__holder {
        flex: 0 0 calc(100% - 150px);
    }
    &__title {
        font: 48px $font_thin;
        color: #636363;
    }
    &__label {
        flex: 0 0 50%;
        font-size: 13px;
        color: $color-blue;
    }
    &__button {
        height: 48px;
        border-radius: 24px;
        font-size: 23px;
    }
    .ui-selectmenu-button.ui-button {
        border-bottom: 1px solid $color-gray-2;
        width: 100%;
        box-sizing: border-box;
    }
    .ui-button .ui-selectmenu-icon.ui-icon:before {
        border-color: $color-gray-2 transparent transparent transparent;
    }
    .ui-selectmenu-text {
        color: $color-blue;
        font-size: 14px;
    }
    .ui-menu .ui-menu-item-wrapper {
        font-size: 14px !important;
    }
    .ui-button .ui-selectmenu-icon.ui-icon {
        top: 6px;
    }
}