.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eef0f3;

    &__button {
        width: 575px;
        background: $color-blue;
        color: $color-white;
        font-size: 23px;
        height: 48px;
        border-radius: 25px;
        margin-bottom: 70px;
        @include width650 {
            width: 80%;
        }
    }

}