.job-seekers {
    background: $color-gray;
    &__wrapper {
        max-width: 2370px;
        margin: 0 auto;

    }
    &__title-holder {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }
    &__title {
        font-size: 32px;
        color: $color-blue;
    }
    &__see-all {
        font-size: 28px;
        color: $color-blue;
        text-decoration: underline;
    }
}