.job-seekers {
    background: $color-gray;
    background: #e5e7ea;
    padding-bottom: 26px;
    border-bottom: 1px solid #b6b7b9;
    margin-bottom: 30px;
    @include width1185 {
        box-sizing: border-box;
        padding: 0 20px;
    }
    &__wrapper {
        max-width: 1185px;
        margin: 0 auto;

    }
    &__title-holder {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        padding-right: 22px;
        box-sizing: border-box;
    }
    &__title {
        font-size: 16px;
        color: $color-blue;
    }
    &__see-all {
        font-size: 14px;
        color: $color-blue;
        text-decoration: underline;
        &:hover {
            color: $color-green;
            transition: 0.2s;
        }
    }
}