.job-seekers {
    background: $color-gray;
    background: #e5e7ea;
    padding-bottom: 52px;
    border-bottom: 2px solid #b6b7b9;
    margin-bottom: 60px;
    @include width2370 {
        box-sizing: border-box;
        padding: 0 40px;
    }
    &__wrapper {
        max-width: 2370px;
        margin: 0 auto;

    }
    &__title-holder {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        padding-right: 44px;
        box-sizing: border-box;
    }
    &__title {
        font-size: 32px;
        color: $color-blue;
    }
    &__see-all {
        font-size: 28px;
        color: $color-blue;
        text-decoration: underline;
        &:hover {
            color: $color-green;
            transition: 0.2s;
        }
    }
}