.main-banner {
    background: url('../img/main-banner.jpg') no-repeat;
    background-size: cover;
    height: 1715px;
    @include width2370 {
        box-sizing: border-box;
        padding: 0 40px;
        background-position: center;
    }
    &__form {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        height: 100%;
        max-width: 2370px;
        margin: 0 auto;

    }

}