.navigation {
    display: flex;
    @include width850 {
        position: absolute;
        display: none;
        right: 0;
        bottom: 0;
        transform: translate(0,50%);
        flex-direction: column;
        background: $color-white;
        border: 1px solid $color-gray-2;
        border-radius: 8px;
        padding: 20px;
    }
    &.active {
        display: flex;
    }
    &__list {
        display: flex;
        align-items: center;
        @include width850 {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
            margin-left: 52px;
        }
        @include width850 {
            margin: 0 0 20px 0;
            &:last-child {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
    &__link {
        font: 14px/15px $font_light;
        color: $color-white;
        text-decoration: underline;
        padding-left: 20px;
        position: relative;
        @include width850 {
            color: $color-black;
        }
        @include width650 {
            font-size: 13px;
        }
        &:hover {
            color: $color-green;
            transition: 0.2s;
        }
    }
    &__icon {
        fill: $color-green;
        width: 16px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @include width850 {
            width: 8px;
        }
    }
}