.navigation {
    display: flex;
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
            margin-left: 52px;
        }
        @include width850 {
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
    &__link {
        font: 14px/15px $font_light;
        color: $color-white;
        text-decoration: underline;
        padding-left: 20px;
        position: relative;
        @include width850 {
            font: 10px/11px $font_light;
            padding-left: 10px;
        }
        @include width650 {
            font-size: 13px;
        }
        &:hover {
            color: $color-green;
            transition: 0.2s;
        }
    }
    &__icon {
        fill: $color-green;
        width: 16px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @include width850 {
            width: 8px;
        }
    }
}