.popup {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(200,200,200,0.7);
    &__list {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(162, 162, 162);
        border-radius: 10px;
        background-color: #d5d8dd;
        min-width: 416px;
        min-height: 465px;
        color: $color-black;
    }
    &__checkbox {

    }
    &__item {
        display: flex;
        width: 100%;
    }
    &__field-name {
        flex: 0 0 33%;
    }
    &__buttons-holder {
        width: 100%;
    }
    &__textarea {
        width: 100%;
        resize: none;
    }
}