.ui-selectmenu-button.ui-button {
    border-bottom: 1px solid #aeb2be;
    width: 100%;
    box-sizing: border-box;
    &:focus,
    &:active,
    &:hover {
        outline: 0;
        border: 0;
        border-bottom: 1px solid #aeb2be;
        background: none;
    }
}
.ui-selectmenu-text{
    color: #282461;
    font-size: 14px;
}
ui-selectmenu-icon.ui-icon {
    background: none;
    position: relative;
    width: 11px;
    height: 7px;
    top: 12px;
    &:before {
        content: '';
        width: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 5px 0 5px;
        border-color: #ffffff transparent transparent transparent;
    }
}