.stars-rating {
    display: flex;
    &__item {
        margin-right: 7px;
    }
    &__icon-svg {
        width: 20px;
        height: 20px;
        fill: $color-gray;
        .stars-rating__item.active & {
            fill: #ffbd01;
        }
    }
}