.text-input {
    border: 0;
    border-bottom: 1px solid $color-gray-2;
    padding: 6px 0;
    flex: 1;
    font: 14px/16px $font_light;
    color: #242327;
    background: none;
    &::placeholder {
        color: #7e7ca0;
    }
}
