.title {
    font: 14px $font;
    color: $color-white;
    background: $color-violet;
    width: 100%;
    padding: 7px 9px;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-bottom: 7px;
}