.whatsapp-share {
    display: flex;
    align-items: center;
    color: $color-black;
    font-size: 12px;
    &__icon-svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}
